*{ margin: 0 auto; font-family: "Microsoft YaHei"}
.page{ 
	width: 800px; 
	height: 300px; 
	margin-top: 100px;

}
.page img{ 
	float: left; 
	display: block; 
	width: 300px; 
	height: 300px;
}
.page .txt{
	float: left;
	width: 450px;
	padding-top: 20px;
	padding-left: 10px;
}
.page .txt h1{ 
	line-height: 50px;
}
.page .txt p{ 
	line-height: 40px;
	color: #333;
}
.page .txt a{
	color: #2749A0;
	text-decoration: none;
}
.page .txt a:hover{
	color: #FF0000;
	text-decoration: underline;
}