<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <servlet>
    <servlet-name>Action</servlet-name>
    <servlet-class>com.corner.dao.servlet.Action</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>Action</servlet-name>
    <url-pattern>/Action</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  
  
  
  <!-- deploy filter-->
  <filter>
  	<filter-name>encodingfilter</filter-name>
  	<filter-class>com.corner.dao.filter.EncodingFilter</filter-class>
  </filter>	
  <filter-mapping>
  	<filter-name>encodingfilter</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
   
</web-app>
